body{
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
    font-family: sans-serif;
}

.login{
    width: 382px;
    margin: auto;
    margin: 20px 0 0 450px;
    padding: 80px;
    background-color: brown;
    border-radius: 15px;
}

h2{
    text-align: center;
    color: rgb(17, 11, 4);
    padding: 20px;
}

#Uname{
width: 300px;
height: 30px;
border: none;
border-radius: 3px;
padding-left: 8px;
}

label{
    color: cornsilk;
    font-size: 18px;
}

#Pass{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;
}

span{
    color: aqua;
    font-size: 17px;
}

#log{
    width: 300px;
    height: 30px;
    border:none;
    border-radius: 17px;
    padding-left: 7px;
    color: darksalmon;
}

a{
    float: right;
    background-color: blueviolet;
}